.header {
    width: 100%;
    display: flex;
    align-content: center;
    flex-direction: row;
    color: var(--font-color);
    z-index: 2;
}

.header h1 {
    display: flex;
    flex-direction: column;
    margin: 20px;
    & .name {
        width: 100%;
        float: left;
        font-size: 50px;
    }
    & .title {
        font-size: 20px;
        opacity: 50%;
    }
}

.header .headerItem {
    display: flex;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
    &:hover {
        cursor: pointer;
    }
    & svg {
        stroke: var(--font-color);
        fill: var(--font-color);
        margin: 5px;
    }
    & span {
        font-weight: bold;
        font-size: 15px;
    }
}

#phone svg {
    fill: var(--background-color);
    & path {
        stroke: var(--font-color);
    }
}

#resume {
    margin-left: auto;
    margin-right: 200px;
    & .resume-button {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
        padding: 5px;
        & span {
            font-weight: bold;
            color: var(--toast-background-color);
            font-size: 25px;
        }
        & svg {
            fill: var(--toast-background-color);
            margin: 10px;
        }
    }
}