.sections-wrapper {
    display: flex;
    flex-direction: column;
}

.section {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 20vh 0 20vh 0;
}

.left {
    display: inherit;
    flex: 0.4;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.right {
    display: inherit;
    flex: 0.6;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.image-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    border-radius: 50%;
}

#profile-image-wrapper {
    border-radius: 0;
    color: var(--font-color);
}

.image-border {
    position: absolute;
    top: -5px;
    bottom: -5px;
    padding: 10px;
    width: 50%;
    background-color: transparent;
    border: 3px solid var(--profile-border-color);
}

#profile-image {
    width: 50%;
    height: 50%;
    transform: scaleX(-1);
}

.tagline {
    padding: 100px;

    & p {
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: 100;
        color: var(--font-color);
    }
}

#ucsd-logo {
    width: 75%;
    margin-bottom: 20px;
}

.education {
    padding: 100px;
    color: var(--font-color);
}


.degree {
    margin-bottom: 20px;
    & h3 {
        opacity: 50%;
    }
}

.degree-description {
    font-weight: 500;
    font-size: 20px;
}

#experience {
    align-items: flex-start;
    & .left {
        position: sticky;
        top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        width: 100%;
        flex: 0.5;
    }
    & .right {
        display: flex;
        flex: 0.5;
        color: var(--font-color);
        flex-direction: column;
        justify-content: left;
        align-items: flex-start;
    }
}

.job {
    margin-bottom: 100px;
    padding: 10px;
    border-radius: 12px;
    &:hover {
        filter: brightness(150%);    
    }
    &:last-child {
        margin-bottom: 0;
    }
}

.job-description {
    width: 20vw;
    min-height: 20vh;
    margin: 10px;
    padding: 10px;
    border-radius: 12px;
    background-color: var(--description-background-color);
    position: relative;
    & p {
        visibility: hidden;
        position: absolute;
        background-color: transparent;
    }
}

.job-tags {
    margin-top: 10px;
    display: flex; 
    flex-direction: row;
    & span {
        margin-right: 20px;
        border-radius: 15px;
        font-size: 20px;
        font-weight: bold;
        padding: 5px;
        color: var(--background-color);
        background-color: var(--toast-background-color);
    }
}