.sections-wrapper {
    display: flex;
    flex-direction: column;
}

.section {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 20vh 0 20vh 0;
}

.left {
    display: inherit;
    flex: 0.4;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.right {
    display: inherit;
    flex: 0.6;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.image-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    border-radius: 50%;
}

#profile-image-wrapper {
    border-radius: 0;
    color: var(--font-color);
}

.image-border {
    position: absolute;
    top: -5px;
    bottom: -5px;
    padding: 10px;
    width: 50%;
    background-color: transparent;
    border: 3px solid var(--profile-border-color);
}

#profile-image {
    width: 50%;
    height: 50%;
    transform: scaleX(-1);
}

.tagline {
    padding: 100px;

    & p {
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: 100;
        color: var(--font-color);
    }
}

#ucsd-logo {
    width: 75%;
    margin-bottom: 20px;
}

.education {
    padding: 100px;
    color: var(--font-color);
}


.degree {
    margin-bottom: 20px;
    & h3 {
        opacity: 50%;
    }
}

.degree-description {
    font-weight: 500;
    font-size: 20px;
}

#experience {
    align-items: flex-start;
    & .left {
        position: sticky;
        top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        width: 100%;
        flex: 0.5;
    }
    & .right {
        display: flex;
        flex: 0.5;
        color: var(--font-color);
        flex-direction: column;
        justify-content: left;
        align-items: flex-start;
    }
}

.job {
    margin-bottom: 100px;
    padding: 10px;
    border-radius: 12px;
    &:hover {
        filter: brightness(150%);    
    }
    &:last-child {
        margin-bottom: 0;
    }
}

.job-description {
    width: 20vw;
    min-height: 20vh;
    margin: 10px;
    padding: 10px;
    border-radius: 12px;
    background-color: var(--description-background-color);
    position: relative;
    & p {
        visibility: hidden;
        position: absolute;
        background-color: transparent;
    }
}

.job-tags {
    margin-top: 10px;
    display: flex; 
    flex-direction: row;
    & span {
        margin-right: 20px;
        border-radius: 15px;
        font-size: 20px;
        font-weight: bold;
        padding: 5px;
        color: var(--background-color);
        background-color: var(--toast-background-color);
    }
}

#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project-wrapper {
    border-radius: 30px;
    width: 800px;
    height: 600px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
}

.project {
    height: 100%;
    width: 100%;
    /* transform: translateX(-50%); */
    justify-self: stretch;
    position: relative;
    &:hover {
        filter: brightness(120%);
        cursor: pointer;
    }
}

.project-image {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--project-background-color);
    height: 100%;
    width: 100%;
    & img {
        background-color: transparent;
    }
}

.project-title {
    position: absolute;
    background-color: white;
    width: 100%;
    bottom: -100px;
    opacity: 50%;
    & h1 {
        opacity: 100%;
        background-color: inherit;
        text-align: center;
        height: 50px;
        font-size: 50px;
        padding: 10px;
    }
    & p {
        background-color: inherit;
        padding: 10px;
    }
}

.project-title.moveup {
    animation: moveup 0.5s linear 0s forwards;
    -webkit-animation: moveup 0.5s linear 0s forwards;
}

@-webkit-keyframes moveup {
    to {bottom: 0;}
}

@keyframes moveup {
    to {bottom: 0;}
}

.carousel-navigation {
    display: flex;
    height: 20px;
    width: 200px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 5px;
}

.carousel-item {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 5px solid transparent;
    background-color: white;
    &:hover {
        border: 5px solid gray;
        cursor: pointer;
    }
}

.carousel-item.active {
    border: 5px solid gray;
}